// Import Mixins and variables
@import "variables";
@import "mixin";

// Delete default settings
*{
    margin: $zero;
    padding: $zero;
    box-sizing: border-box;
}
//Pree Loader
#preeLoader{
    @include size(100%, 100vh);
    background: black url(IMG/Preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: fixed;
    z-index: 100;
    animation-duration: 20s;
}
#message{
    @include size(60px, 60px);
    border-radius: 50%;
    background-color: #00A0F0;
    @include flexCenter();
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 90;
    cursor: pointer;
}
//Section one style

#firstContainer{
    @include size(100%, 887px);
    @include flexCenter();
    position: relative;
    header{
        @include size(100%, 74px);
        @include flexCenter();
        position: absolute;
        top: 0px;
        transition: all .2s ease-in;
        #headerInside{
            @include size(1108px, 54px);
            @include flexBetween();
            #headerLogo{
                @include size(55px, 44px);
                @include flexCenter();
                cursor: pointer;
                img{
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        nav{
            @include size(497.3px, 34.2px);
            @include flexCenter();
            ul{
                @include size(100%, 34.2px);
                @include flexAround();
                li{
                    font-size: 14px;
                    font-family: $fontPop;
                    color: $gray;
                    list-style: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    a{
                        font-size: 14px;
                        font-family: $fontPop;
                        color: inherit;
                        list-style: none;
                        text-transform: uppercase;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
                .active{
                    color: $orange;
                }
                li:hover{
                    color: $orange;
                }
            }
        }
    }
    header.sticky{
        position: fixed;
        height: 84px;
        background-color: $bgDark;
    }
    #firstLeft{
        @include size (50%, 887px);
        background-color: $black;
        @include flDownCenter();
        h2{
            font-size: 42px;
            color: $white;
            font-weight: bold;
            font-family: $fontRub;
            margin-bottom: 30px;
        }
        h1{
            font-size: 64px;
            font-weight: bold;
            color: $orange;
            font-family: $fontRub;
            margin-bottom: 30px;
            span:nth-child(1){
                color: $white;
            }
        }
        button{
            @include size(159.617px, 44.2px);
            background: linear-gradient(to bottom, transparent 50%, $orange 50%);
            background-size: 100% 200%;
            background-position: 0% 0%;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
            background-color:$white;
            outline: none;
            text-transform: uppercase;
            color: $black;
            font-size: 14px;
            font-family: $fontPop;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-weight: 500;
            transition: all ease-out .2s;
            margin-bottom: 50px;
        }
        button:hover{
            background-position: 0% 100%;
            color: $white;
        }
        #socialsPlace{
            @include size(210px, 30px);
            @include flexBetween();
            i{
                @include size(30px, 30px);
                border: 1px solid $white;
                text-align: center;
                line-height: 30px;
                font-size: 14px;
                color: $white;
                cursor: pointer;
                transition: all .2s;
            }
            i:hover{
                background-color: $orange;
                border-color: $orange;
                color: $white;
            }
        }
    }
    #firstRight{
        @include size(50%, 887px);
        background: url(IMG/header.jpg);
        background-position: center;
        background-size: cover;

    }
} // First section style end

//Section two style
#sectionTwo{
    @include size(100%, 778.6px);
    @include flexCenter();
    background-color: $bgLight;
    #twoMain{
        max-width: 1140px;
        @include size(100%, 638.6px);
        @include flDownBetween();
        #twoMainInfo{
            @include size(100%, 445px);
            @include flexBetween();
            align-items: flex-start;
            #twoMainInfoPic{
                @include size(445px, 445px);
                @include flexCenter();
                img{
                    @include size(100%, auto);
                    object-fit: cover;
                    object-position: center;
                }
            }
            #twoMainInfoText{
                @include size(585px, 412.5px);
                @include flDownBetween();
                align-items: flex-start;
                #twoMainInfoHeader{
                    @include size(585px, 38.4px);
                    @include flexCenter();
                    justify-content: flex-start;
                    p{
                        font-size: 32px;
                        font-weight: 800;
                        color: $orange;
                        font-family: $fontRub;
                        line-height: 38.4px;
                        text-transform: capitalize;
                    }
                }
                #twoMainInfoTitle{
                    @include size(585px, 56.8px);
                    @include flDownBetween();
                    align-items: flex-start;
                    p:nth-child(1){
                        font-size: 25px;
                        color: $white;
                        text-transform: capitalize;
                        font-family: $fontRub;
                    }
                    p:nth-child(2){
                        font-size: 14px;
                        color: $gray;
                        letter-spacing: 4px;
                        font-family: $fontRub;
                        text-transform: uppercase;
                    }
                }
                p{
                    color: hsla(0deg, 0%, 100%, 0.5);
                    font-size: 15px;
                    font-family: $fontPop;
                    font-weight: 300;
                    line-height: 1.8;
                }
                #twoMainInfoButtons{
                    @include size(299.484px, 44.2px);
                    @include flexBetween();
                    button:nth-child(1){
                        @include size(159.617px, 44.2px);
                        background: linear-gradient(to bottom, transparent 50%, $orange 50%);
                        background-size: 100% 200%;
                        background-position: 0% 0%;
                        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
                        background-color:$white;
                        outline: none;
                        text-transform: uppercase;
                        color: $black;
                        font-size: 14px;
                        font-family: $fontPop;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                        font-weight: 500;
                        transition: all ease-out .2s;
                        &:hover{
                            background-position: 0% 100%;
                            color: $white;
                        }
                    }
                    button:nth-child(2){
                        @include size(115.067px, 44.2px);
                        border: 1px solid $orange;
                        border-radius: 3px;
                        background: linear-gradient(to bottom, transparent 50%, $orange 50%);
                        background-position: 0% 0%;
                        background-size: 100% 200%;
                        background-color: transparent;
                        text-transform: uppercase;
                        font-size: 14px;
                        color: $gray;
                        cursor: pointer;
                        font-weight: 500;
                        transition: all ease-out .2s;
                        font-family: $fontPop;
                        &:hover{
                            color: $white;
                            background-position: 0 100%;
                        }
                    }
                }
            }
        }
        #twoMainSkills{
            @include size(1110px, 133.6px);
            @include flexBetween();
            align-items: flex-end;
            #twoMainSkillsHeader{
                @include size(28.8px, 100%);
                position: relative;
                p{
                    @include size(28.8px,94.667px);
                    text-transform: capitalize;
                    writing-mode: vertical-rl;
                    font-size: 24px;
                    font-weight: 500;
                    color: $orange;
                    font-family: $fontRub;
                    &::after{
                        content: "";
                        width: 1px;
                        height: 20px;
                        background-color: $orange;
                        display:inline-block;
                        position: absolute;
                        bottom: 10px;
                        right: 15px;
                    }
                }
            }
            #twoMainSkillsPercents{
                @include size(1060px, 103.6px);
                @include flexBetween();
                align-items: flex-start;
                align-content: space-between;
                flex-wrap: wrap;
                #twoMainSkillsPercentsDivBig{
                    @include size(490px, 36.8px);
                    @include flDownBetween();
                    #twoMainSkillsPercentsDivBigHeader{
                        @include size(100%, 16.8px);
                        @include flexCenter();
                        justify-content: flex-start;
                        h3{
                            text-transform: uppercase;
                            font-size: 14px;
                            color: $gray;
                            font-family: $fontRub;
                            font-weight: 500;
                        }
                    }
                    #twoMainSkillsPercentsDivBigProgress{
                        @include size(100%, 5px);
                        background-color: $black;
                        border-radius: 3px;
                        position: relative;
                        span{
                            position: absolute;
                            right: 0;
                            top: -20px;
                            font-size: .75rem;
                            font-weight: bold;
                            font-family: $fontPop;
                            color: $gray;
                            // animation: spanLoad 2s;
                        }
                        @keyframes spanLoad {
                            0%{
                                right: 490px;
                            }
                            100%{
                                right: 0;
                            }
                        }
                        #twoMainSkillsPercentsDivBigLine1{
                            height: 100%;
                            border-radius: 3px;
                            background-color: $orange;
                        }
                        @keyframes loading {
                            0%{
                                width: 0%;
                            }
                            100%{
                                width: 95%;
                            }
                        }
                        #twoMainSkillsPercentsDivBigLine2{
                            height: 100%;
                            border-radius: 3px;
                            background-color: $orange;
                        }
                        @keyframes loading2 {
                            0%{
                                width: 0%;
                            }
                            100%{
                                width: 85%;
                            }
                        }
                        #twoMainSkillsPercentsDivBigLine3{
                            height: 100%;
                            border-radius: 3px;
                            background-color: $orange;
                        }
                        @keyframes loading3 {
                            0%{
                                width: 0%;
                            }
                            100%{
                                width: 80%;
                            }
                        }
                        #twoMainSkillsPercentsDivBigLine4{
                            height: 100%;
                            border-radius: 3px;
                            background-color: $orange;
                        }
                        @keyframes loading4 {
                            0%{
                                width: 0%;
                            }
                            100%{
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
} // Section two style end

//Section three style start
#sectionThree{
    @include size(100%, 1151.6px);
    @include flexCenter();
    background-color: $bgDark;
    #threeMain{
        @include size(1110px, 1011.6px);
        @include flDownBetween();
        #threeMainHeader{
            @include size(100%, 38.4px);
            @include flexCenter();
            h3{
                font-size: 32px;
                font-weight: 800;
                color: #F0A500;
                padding-bottom: 15px;
                font-family: $fontRub;
                text-transform: capitalize;
              }
        }
        #threeMainSelect{
            @include size(247.2833px, 18.2px);
            @include flexBetween();
            li{
                list-style: none;
                font-size: 14px;
                font-weight: 700;
                color: $gray;
                text-transform: capitalize;
                font-family: $fontRub;
                cursor: pointer;
                &:hover{
                    color: $orange;
                }
            }
            #active{
                color: $orange;
            }
        }
        #threeMainPortfolio{
            @include size(100%, 830px);
            @include flDownBetween();
            flex-wrap: wrap;
            align-content: space-between;
            #threeMainPortfolioBig{
                @include size(350px, 500px);
                border-radius: 8px;
                @include flexCenter();
                cursor: pointer;
                #threeMainPortfolioDivs{
                    @include size(330px, 480px);
                    background-color: rgba(9, 9, 9, 0.8);
                    transition: all 0.4s ease;
                    padding: 10px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    animation-duration: .4s;
                    display: none;
                }
                &:hover #threeMainPortfolioDivs{
                    display: flex;
                }
            }
            #threeMainPortfolioSmall{
                @include size(350px, 300px);
                border-radius: 8px;
                @include flexCenter();
                cursor: pointer;
                #threeMainPortfolioDivs{
                    @include size(330px, 280px);
                    background-color: rgba(9, 9, 9, 0.8);
                    transition: all 0.4s ease;
                    padding: 10px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    animation-duration: .4s;
                    display: none;
                }
                &:hover #threeMainPortfolioDivs{
                    display: flex;
                }
            }
            #threeMainPortfolioBig:nth-child(1){
                background: url(IMG/photo1.jpg);
                background-position: center;
                background-size: cover;
            }
            #threeMainPortfolioBig:nth-child(4){
                background: url(IMG/photo4.jpg);
                background-position: center;
                background-size: cover;
            }
            #threeMainPortfolioBig:nth-child(5){
                background: url(IMG/photo5.jpg);
                background-position: center;
                background-size: cover;
            }
            #threeMainPortfolioSmall:nth-child(2){
                background: url(IMG/photo2.jpg);
                background-position: center;
                background-size: cover;
            }
            #threeMainPortfolioSmall:nth-child(3){
                background: url(IMG/photo3.jpg);
                background-position: center;
                background-size: cover;
            }
            #threeMainPortfolioSmall:nth-child(6){
                background: url(IMG/photo6.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        #threeMainPortfolioDivsText{
            @include size(310px, 70.4px);
            @include flDownBetween();
            #textUp{
                @include size(100%, 15.4px);
                h3{
                    color: $white;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-family: $fontPop;
                }
            }
            #textDown{
                @include size(100%, 40px);
                @include flexBetween();
                h2{
                    font-size: 18px;
                    color: $orange;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: $fontRub;
                    animation-duration: 1.5s;
                }
                button{
                    @include size(40px, 40px);
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid $white;
                    color: $white;
                    font-size: 24px;
                    line-height: 0px;
                    text-align: center;
                    font-weight: lighter;
                    cursor: pointer;
                    transition: all .2s ease;
                    &:hover{
                        background-color: $white;
                        color: $orange;
                    }
                }
            }
        }
    }
} // Section three style end

//Section four style start
#sectionFour{
    @include size(100%, 1018.1px);
    background-color: $bgLight;
    @include flexCenter();
    #fourMain{
        @include size(1110px, 878.1px);
        @include flDownBetween();
        #fourMainHead{
            @include size(100%, 53.4px);
            @include flexCenter();
            h3{
                font-size: 32px;
                color: $orange;
                font-weight: 800;
                font-family: $fontRub;
                text-transform: capitalize;
            }
        }
        #fourMainRow{
            @include size(1110px, 794.7px);
            @include flexBetween();
            #fourMainRowEduc{
                @include size(540px, 793.1px);
                @include flDownBetween();
                #fourMainRowEducHead{
                    @include size(100%, 31.2px);
                    @include flexCenter();
                    i{
                        color: $orange;
                        font-size: 32px;
                        font-weight: 900;
                    }
                    h3{
                        color: $white;
                        font-size: 26px;
                        font-weight: 600;
                        font-family: $fontRub;
                        text-transform: capitalize;
                        margin-left: 20px;
                    }
                }
                #fourMainRowEducDivs{
                    @include size(540px, 216px);
                    @include flDownBetween();
                    align-items: flex-start;
                    background-color: $bgDark;
                    border: 1px solid $bgDark;
                    padding: 30px;
                    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover{
                        border-color: $orange;
                    }
                    &:hover span:nth-child(4){
                        color: $orange;
                    }
                }
            }
            #fourMainRowExper{
                @include size(540px, 793.1px);
                @include flDownBetween();
                #fourMainRowExperHead{
                    @include size(100%, 31.2px);
                    @include flexCenter();
                    i{
                        color: $orange;
                        font-size: 32px;
                        font-weight: 900;
                    }
                    h3{
                        color: $white;
                        font-size: 26px;
                        font-weight: 600;
                        font-family: $fontRub;
                        text-transform: capitalize;
                        margin-left: 20px;
                    }
                }
                #fourMainRowExperDivs{
                    @include size(540px, 216px);
                    @include flDownBetween();
                    align-items: flex-start;
                    background-color: $bgDark;
                    border: 1px solid $bgDark;
                    padding: 30px;
                    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover{
                        border-color: $orange;
                    }
                    &:hover span:nth-child(4){
                        color: $orange;
                    }
                }
            }
            span{
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                color: $white;
                font-family: $fontPop;
            }
            h5{
                font-family: $fontRub;
                font-weight: bold;
                color: $orange;
                font-size: 18px;
                text-transform: capitalize;
            }
            p{
                font-size: 15px;
                color: $gray;
                font-weight: 300;
                font-family: $fontPop;
            }
            span:nth-child(4){
                font-size: 12px;
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }
} //Section four style end

//Section five style
#sectionFive{
    @include size(100%, 535.6px);
    @include flexCenter();
    background-color: $bgDark;
    #fiveMain{
        @include size(1110px, 395.6px);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;

        .slider {
            max-width: 1110px;
            margin-top: 30px;
          }
          
          .slide_viewer {
            width: 1110px;
            height: 312.2px;
            overflow: hidden;
            position: relative;
          }
          
          .slide_group {
            height: 100%;
            position: relative;
            width: 100%;
          }
          
          .slide {
            display: none;
            height: 100%;
            @include flDownBetween();
            position: relative;
            width: 100%;
            #slidePhoto{
                @include size(730px, 159.1px);
                @include flDownBetween();
                position: relative;
                left: 180px;
                #slidePhotoPlace{
                    @include size(200px, 115px);
                    @include flexBetween();
                    align-items: flex-end;
                    svg{
                        @include size(50px, 50px);
                    }
                    #slidePhotoPlacePic{
                        @include size(100px, 115px);
                        @include flexCenter();
                        align-items: flex-start;
                        img{
                            @include size(100px, 100px);
                            border-radius: 50%;
                        }
                    }
                }
                #slidePhotoText{
                    @include size(200px, 38.8px);
                    @include flDownBetween();
                    h1{
                        font-weight: 600;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $white;
                        letter-spacing: 1px;
                        font-family: $fontRub;
                    }
                    span{
                        word-wrap: break-word;
                        font-size: 12px;
                        color: $orange;
                        letter-spacing: 1px;
                        font-family: $fontPop;
                    }
                }
            }
            p{
                margin-top: 30px;
                @include size(730px, 54px);
                text-align: center;
                position: relative;
                left: 180px;
                font-size: 15px;
                font-weight: 300;
                color: $gray;
                font-family: $fontPop;
            }
          }
          
          .slide:first-child {
            display: block;
          }
          
          .slide_buttons {
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
          }
          
          a.slide_btn {
            color: $gray;
            font-size: 42px;
            margin: 0 0.175em;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
          }
          
          .slide_btn.active, .slide_btn:hover {
            color: $orange;
            cursor: pointer;
          }
          h3{
            font-size: 32px;
            font-weight: 800;
            color: $orange;
            font-family: $fontRub;
            text-transform: capitalize;
        }
    }
} //Section five style end

//Section six style
#sectionSix{
    @include size(100%, 603px);
    @include flexCenter();
    background-color: $bgLight;
    #sixMain{
        @include size(1110px, 463px);
        @include flDownBetween();
        #sixMainHead{
            @include size(100%, 38.4px);
            @include flexCenter();
            h3{
                font-size: 32px;
                color: $orange;
                font-weight: 800;
                font-family: $fontRub;
                text-transform: capitalize;
            }
        }
        #sixMainBottom{
            @include size(100%, 379.6px);
            @include flexBetween();
            align-items: flex-start;
            #sixMainBottomLeft{
                @include size(635px, 370.1px);
                @include flDownBetween();
                align-items: flex-start;
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    font-family: $fontRub;
                    text-transform: capitalize;
                    color: $gray;
                }
                #sixMainBottomLeftInputs{
                    @include size(635px, 317.3px);
                    @include flexBetween();
                    flex-wrap: wrap;
                    align-content: space-between;
                    input{
                        width: 100%;
                        height: 37px;
                        outline: none;
                        background-color: $bgDark;
                        border: 1px solid $bgDark;
                        color: $white;
                        font-size: 15px;
                        padding: .375rem .75rem;
                    }
                    input:focus{
                        border-bottom: 1px solid $orange;
                    }
                    #name{
                        width: 302.5px;
                    }
                    #textArea{
                        min-height: 126.5px;
                        max-height: 126.5px;
                        min-width: 635px;
                        max-width: 635px;
                        outline: none;
                        background-color: $bgDark;
                        border: 1px solid $bgDark;
                        color: $white;
                        font-size: 15px;
                        padding: .375rem .75rem;
                    }
                    button{
                        @include size(167.583px, 44.8px);
                        background-color: $orange;
                        font-size: 16px;
                        font-family: $fontPop;
                        text-transform: capitalize;
                        border-radius: 5px;
                        border: none;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
            #sixMainBottomRight{
                @include size(445px, 379.6px);
                @include flDownBetween();
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    font-family: $fontRub;
                    text-transform: capitalize;
                    color: $gray;
                }
                p{
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 1.8;
                    text-transform: capitalize;
                    color: $white;
                    font-family: $fontPop;
                }
                #sixMainBottomRightItems{
                    @include size(445px, 248.8px);
                    @include flDownCenter();
                    #sixMainBottomRightItemsDIv{
                        @include size(445px, 62.2px);
                        @include flexCenter();
                        justify-content: flex-start;
                        #sixMainBottomRightItemsDIvIcon{
                            @include size(65px, 62.2px);
                            @include flexCenter();
                            padding-right: 13px;
                            padding-top: 5px;
                            border-right: 1px solid $orange;
                            i{
                                font-size: 40px;
                                color: $orange;
                            }
                        }
                        #sixMainBottomRightItemsDIvText{
                            @include size(220.45px, 62.2px);
                            @include flDownBetween();
                            align-items: flex-start;
                            padding-left: 25px;
                            h5{
                                font-size: 16px;
                                font-weight: 500;
                                color: $gray;
                                font-family: $fontRub;
                                text-transform: capitalize;
                            }
                            p{
                                font-size: 15px;
                                color: $white;
                                text-transform: capitalize;
                                font-family: $fontPop;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
} //Section six style end

// Footer style start
footer{
    @include size(100%, 189px);
    @include flexCenter();
    background-color: $bgDark;
    #footMain{
        @include size(1110px, 73px);
        @include flDownBetween();
        #footerUl{
            @include size(230px, 30px);
            @include flexBetween();
            li{
                @include size(30px, 30px);
                border-radius: 50%;
                @include flexCenter();
                list-style: none;
                cursor: pointer;
                font-size: 14px;
                color: $white;
                transition: all 0.2s;
                &:hover{
                    background-color: $orange;
                }
            }
        }
        p{
            font-size: 15px;
            font-weight: 300;
            color: $white;
            text-transform: capitalize;
            font-family: $fontPop;
        }
    }
}